body,
ul,
li,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
}
a {
  text-decoration: none!important;
}
img {
  border: 0;
}
body {
  height: 100%;
  background: #3597E0!important;
}
/*头部开始*/
.head {
  width: 100%;
  height: 60px;
  background: #168bd8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.head .nav {
  max-width: 1000px;
  min-width: 320px;
  height: 60px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.head .nav .logo {
  float: left;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: url(../images/header.png) no-repeat;
  background-position: -2px 0px;
}
.head .nav .main-left {
  float: left;
  width: auto;
  height: 100%;
}
.head .nav .main-left ul {
  margin-left: 60px;
  overflow: hidden;
}
.head .nav .main-left ul li {
  float: left;
  height: 60px;
  padding: 30px 10px 0 10px;
  text-align: center;
}
.head .nav .main-left ul li a {
  color: #fff;
}
.head .nav .main-left ul li a:hover {
  color: #67cbff;
}
.head .nav .main-right {
  float: right;
  padding-left: 15px;
  padding-top: 30px;
}
.head .nav .main-right a {
  float: left;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 0 10px;
}
.head .nav .main-right .color1 {
  color: #FFDA28;
}
.head .nav .caidan {
  float: right;
  width: auto;
  height: 100%;
  line-height: 75px;
  display: none;
}
.head .nav .caidan a {
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .head .logo {
    width: 80px!important;
    background-size: 80px auto !important;
    background-position: 0px 10px !important;
  }
  .head .caidan {
    display: block!important;
  }
  .head .main-left ul {
    margin-left: 12px!important;
  }
  .head .main-left ul li {
    padding: 30px 5px 0!important;
  }
  .head .main-left ul li a {
    font-size: 12px!important;
  }
  .head .nav .main-right {
    display: none;
    width: 100%;
    padding: 0;
  }
  .head .nav .main-right a {
    display: block;
    width: 100%;
    height: 40px;
    text-align: right;
    line-height: 40px;
    background: #168bd8;
  }
  .head .nav .main-right a:hover {
    background: #369EE5;
  }
}
@media screen and (min-width: 768px) {
  .head .main-right {
    display: block!important;
  }
}
/*第一层*/
.swiper-wrapper .one {
  background: url(../images/bg1.jpg) repeat center top;
  position: relative;
  /*第一朵白云*/
  /*中间的白云*/
  /*最小的白云*/
  /*底部的船、冰块*/
  /*中间部分以及登录框*/
  /*下一个的按钮*/
}
.swiper-wrapper .one .top {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.swiper-wrapper .one .top .img3 {
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(../images/cloud-big.png) repeat;
  animation: cloudmove 30s linear infinite;
}
.swiper-wrapper .one .middle {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}
.swiper-wrapper .one .middle .img4 {
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: -200px;
  background: url(../images/cloud_2.png);
  animation: cloudmove 50s linear infinite;
}
.swiper-wrapper .one .bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.swiper-wrapper .one .bottom .img5 {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  bottom: 0;
  background: url(../images/cloud_3.png) repeat;
  animation: cloudmove 70s linear infinite;
}
.swiper-wrapper .one .floor {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 126px;
  background: #0d71cd url(../images/bg2.jpg);
}
.swiper-wrapper .one .floor .fl-center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .one .floor .fl-center .obj1 {
  width: 63px;
  height: 78px;
  position: absolute;
  right: 288px;
  top: -13px;
  background: url(../images/hill_1.png);
  -webkit-transition: all 0.5s ease-out 0.3s;
}
.swiper-wrapper .one .floor .fl-center .obj2 {
  width: 260px;
  height: 175px;
  position: absolute;
  right: -129px;
  top: -47px;
  background: url(../images/hill.png);
  -webkit-transition: all 0.5s ease-out 0.3s;
}
.swiper-wrapper .one .floor .fl-center .obj3 {
  width: 265px;
  height: 175px;
  position: absolute;
  left: -182px;
  top: -50px;
  background: url(../images/hill_3.png);
  -webkit-transition: all 0.5s ease-out 0.3s;
}
.swiper-wrapper .one .floor .fl-center .obj4 {
  width: 242px;
  height: 228px;
  position: absolute;
  left: 126px;
  top: -191px;
  background: url(../images/ship.png);
  -webkit-transition: all 0.5s ease-out 0.3s;
}
.swiper-wrapper .one .nav1 {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .one .nav1 .imgs-box {
  width: 50%;
  margin: 0 auto;
  position: relative;
  float: left;
}
.swiper-wrapper .one .nav1 .imgs-box .img1 {
  width: 501px;
  height: 158px;
  position: absolute;
  left: 15px;
  top: -200px;
  background: url(../images/launch.png) no-repeat;
}
.swiper-wrapper .one .nav1 .imgs-box .img2 {
  width: 119px;
  height: 78px;
  position: absolute;
  left: 295px;
  top: -200px;
  background: url(../images/arr.png);
  animation: move 2s infinite alternate;
}
.swiper-wrapper .one .nav1 .login {
  float: right;
  width: 340px;
  height: 300px;
  position: absolute;
  right: 15px;
  top: -198px;
  background: #4ebffc;
  border-radius: 5px;
  padding-top: 26px;
}
.swiper-wrapper .one .nav1 .login .login-info {
  padding: 0 20px;
}
.swiper-wrapper .one .nav1 .login .login-info .user {
  width: 299px;
  height: 40px;
  background: #fff;
  margin-bottom: 20px;
}
.swiper-wrapper .one .nav1 .login .login-info .user .userl {
  width: 14px;
  height: 14px;
  margin: 11px 3px 0 10px;
  float: left;
  font-size: 12px;
  color: #A1A6B7;
}
.swiper-wrapper .one .nav1 .login .login-info .user .userr {
  float: left;
  width: 252px;
  height: 20px;
  border: 0;
  outline: none;
  margin: 9px;
  font-size: 12px;
  line-height: 20px;
}
.swiper-wrapper .one .nav1 .login .login-info .yanzheng {
  width: 299px;
  height: 40px;
  margin-bottom: 20px;
}
.swiper-wrapper .one .nav1 .login .login-info .yanzheng .yzl {
  float: left;
  width: 140px;
  height: 40px;
  padding: 10px;
  background: #fff;
  border: 0;
  outline: none;
  font-size: 12px;
  line-height: 20px;
}
.swiper-wrapper .one .nav1 .login .login-info .yanzheng .yz2 {
  float: left;
  width: 99px;
  height: 40px;
  border: 0;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  background: #B8E5FE;
  margin-left: 10px;
  text-align: center;
}
.swiper-wrapper .one .nav1 .login .login-info .yanzheng .next {
  float: left;
  margin: 10px 0 0 10px;
  font-size: 12px;
  color: #fff;
}
.swiper-wrapper .one .nav1 .login .login-info .yanzheng a:hover {
  text-decoration: underline!important;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-btn {
  display: block;
  margin-top: 12px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 35px;
  border: 0;
  background: #ffd850;
  color: #5c4c12;
  border-radius: 2px;
  width: 299px;
  outline: none;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other {
  margin: 12px 0 8px;
  font-size: 12px;
  float: left;
  width: 299px;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other span {
  color: #fff;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1 {
  float: left;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1 a {
  font-size: 12px;
  color: #fff;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2 {
  float: right;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2 a {
  font-size: 12px;
  color: #fff;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1:hover a {
  text-decoration: underline!important;
}
.swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2:hover a {
  text-decoration: underline!important;
}
.swiper-wrapper .one .bottom .to-next {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .one .bottom .to-next .jiantou {
  display: block;
  width: 30px;
  height: 26px;
  position: absolute;
  left: 485px;
  bottom: 42px;
  animation: move .6s infinite alternate;
  background: url(../images/arrow.png);
}
@keyframes move {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
  }
}
@keyframes cloudmove {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1000px;
  }
}
@media screen and (max-width: 768px) {
  .swiper-wrapper .one .nav1 {
    width: 100%;
    position: relative;
  }
  .swiper-wrapper .one .nav1 .imgs-box {
    width: 100%;
  }
  .swiper-wrapper .one .nav1 .imgs-box .img1 {
    width: 250px;
    height: 95px;
    position: absolute;
    left: 25px;
    top: -150px;
    background-size: 250px;
  }
  .swiper-wrapper .one .nav1 .imgs-box .img2 {
    width: 90px;
    height: 78px;
    position: absolute;
    left: 215px;
    top: -150px;
    background: url(../images/arr.png) no-repeat;
    background-size: 90px;
    animation: move 2s infinite alternate;
  }
  .swiper-wrapper .one .nav1 .login {
    width: 280px;
    height: 260px;
    background: #4ebffc;
    border-radius: 5px;
    padding-top: 26px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: -40px;
  }
  .swiper-wrapper .one .nav1 .login .login-info {
    padding: 0 20px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .user {
    width: 240px;
    height: 40px;
    background: #fff;
    margin-bottom: 10px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .user .userl {
    width: 14px;
    height: 14px;
    margin: 11px 3px 0 10px;
    float: left;
    font-size: 12px;
    color: #A1A6B7;
  }
  .swiper-wrapper .one .nav1 .login .login-info .user .userr {
    float: left;
    width: 195px;
    height: 20px;
    border: 0;
    outline: none;
    margin: 9px;
    font-size: 12px;
    line-height: 20px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .yanzheng {
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .yanzheng .yzl {
    float: left;
    width: 100px;
    height: 40px;
    padding: 10px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 12px;
    line-height: 20px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .yanzheng .yz2 {
    float: left;
    width: 79px;
    height: 40px;
    border: 0;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    background: #B8E5FE;
    margin-left: 10px;
    text-align: center;
  }
  .swiper-wrapper .one .nav1 .login .login-info .yanzheng .next {
    float: left;
    margin: 10px 0 0 10px;
    font-size: 12px;
    color: #fff;
  }
  .swiper-wrapper .one .nav1 .login .login-info .yanzheng a:hover {
    text-decoration: underline!important;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-btn {
    display: block;
    margin-top: 12px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 240px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other {
    margin: 12px 0 6px;
    font-size: 12px;
    float: left;
    width: 240px;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1 {
    float: left;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1 a {
    font-size: 12px;
    color: #fff;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2 {
    float: right;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2 a {
    font-size: 12px;
    color: #fff;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f1:hover a {
    text-decoration: underline!important;
  }
  .swiper-wrapper .one .nav1 .login .login-info .login-action .login-other .f2:hover a {
    text-decoration: underline!important;
  }
  .swiper-wrapper .one .floor {
    width: 100%;
    height: 60px;
  }
  .swiper-wrapper .one .floor .fl-center {
    width: 100%;
  }
  .swiper-wrapper .one .floor .fl-center .obj4 {
    display: none;
  }
  .swiper-wrapper .one .bottom .to-next {
    width: 100%;
  }
}
/*第二层*/
.swiper-wrapper .two {
  background: url(../images/bg2.jpg) repeat center top;
  height: 642px;
  position: relative;
}
.swiper-wrapper .two .f2-box {
  width: 100%;
}
.swiper-wrapper .two .f2-box .f2-center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .two .f2-box .f2-center .text-area {
  position: absolute;
  top: -100px;
  left: 20px;
}
.swiper-wrapper .two .f2-box .f2-center .text-area .title {
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.swiper-wrapper .two .f2-box .f2-center .text-area .title h3 {
  width: 66px;
  height: 126px;
  float: left;
  background: url(../images/lingxian.png) no-repeat;
  transform-style: preserve-3d;
  -webkit-animation: xuanzhuan 1.5s infinite;
  -moz-animation: xuanzhuan 1.5s infinite;
}
.swiper-wrapper .two .f2-box .f2-center .text-area .title .text {
  margin-left: 86px;
  margin-top: 8px;
}
.swiper-wrapper .two .f2-box .f2-center .text-area .title .text h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
  color: #fff;
  text-align: left;
}
.swiper-wrapper .two .f2-box .f2-center .text-area .title .text p {
  font-size: 19px;
  line-height: 32px;
  opacity: .8;
  letter-spacing: 1px;
  text-align: left;
}
.swiper-wrapper .two .f2-box .f2-center .obj-brain {
  visibility: visible;
  width: 444px;
  height: 427px;
  background: url(../images/brain.png);
  position: absolute;
  right: -14px;
  top: -200px;
}
.swiper-wrapper .two .f2-box .f2-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .info1 {
  position: absolute;
  left: 70px;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: #35b568;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .info2 {
  position: absolute;
  left: 158px;
  bottom: 0;
  width: 88px;
  height: 88px;
  background: #35b568;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .info3 {
  position: absolute;
  left: 246px;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: #8ae75a;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .info4 {
  position: absolute;
  right: 328px;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: #8ae75a;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .info5 {
  position: absolute;
  right: 240px;
  bottom: 0;
  width: 44px;
  height: 44px;
  background: #4ac179;
}
.swiper-wrapper .two .f2-box .f2-bottom .f2-info .jiantou {
  display: block;
  width: 30px;
  height: 26px;
  position: absolute;
  left: 485px;
  bottom: 42px;
  animation: move .6s infinite alternate;
  background: url(../images/arrow.png);
}
@keyframes xuanzhuan {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@media screen and (max-width: 768px) {
  .swiper-wrapper .two .f2-box .f2-center {
    width: 100%;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area {
    position: absolute;
    top: -164px;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area .title {
    width: 340px;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area .title h3 {
    width: 40px;
    height: 100px;
    background-size: 40px;
    transform-style: preserve-3d;
    -webkit-animation: xuanzhuan 1.5s infinite;
    -moz-animation: xuanzhuan 1.5s infinite;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area .title .text {
    margin-left: 50px;
    margin-top: 6px;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area .title .text h4 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 28px;
    margin-bottom: 4px;
    color: #fff;
    text-align: left;
  }
  .swiper-wrapper .two .f2-box .f2-center .text-area .title .text p {
    font-size: 12px;
    line-height: 22px;
    opacity: .8;
    letter-spacing: 1px;
    text-align: left;
  }
  .swiper-wrapper .two .f2-box .f2-center .obj-brain {
    width: 100%;
    background: url(../images/brain.png) no-repeat center top;
    position: absolute;
    top: -80px;
    background-size: 300px;
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info {
    width: 100%;
    /*.jiantou{
              position: absolute;
              left:50%;
              top:-50px;
            }*/
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info .info1 {
    width: 22px;
    height: 22px;
    left: 40px;
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info .info2 {
    width: 44px;
    height: 44px;
    left: 80px;
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info .info3 {
    width: 22px;
    height: 22px;
    left: 124px;
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info .info4 {
    width: 22px;
    height: 22px;
    right: 40px;
  }
  .swiper-wrapper .two .f2-box .f2-bottom .f2-info .info5 {
    width: 22px;
    height: 22px;
    right: 80px;
  }
}
/*第三层*/
.swiper-wrapper .three {
  background: url(../images/bg3.jpg) repeat center top;
  height: 642px;
  position: relative;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top {
  position: absolute;
  width: 100%;
  left: 0;
  top: -200px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center div {
  position: absolute;
  display: block;
  width: 88px;
  height: 88px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info1 {
  background: #33bb9a;
  left: 70px;
  top: 60px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info2 {
  background: #29a2b8;
  left: -18px;
  top: 148px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info3 {
  background: #60cf6e;
  left: 158px;
  top: 148px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info4 {
  left: 70px;
  top: 236px;
  width: 176px;
  height: 176px;
  background: url(../images/square.jpg);
}
.swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info5 {
  background: #33bb9a;
  left: 246px;
  top: 236px;
}
.swiper-wrapper .three .f2-box .f2-center .text-area .title h3 {
  background: url(../images/quanmian.png) no-repeat;
}
.swiper-wrapper .three .f2-box .f2-center .obj-brain {
  background: url(../images/allside.png) no-repeat;
}
.swiper-wrapper .three .f2-box .f2-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 138px;
  background: url(../images/bg-3-head.png) no-repeat;
}
.swiper-wrapper .three .f2-box .f2-bottom .f2-info {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .swiper-wrapper .three .f2-box .f2-center {
    width: 100%;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area {
    position: absolute;
    top: -164px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top {
    position: absolute;
    width: 100%;
    left: 0;
    top: -71px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center div {
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info1 {
    background: #33bb9a;
    left: 60px;
    top: 60px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info2 {
    background: #29a2b8;
    left: 15px;
    top: 105px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info3 {
    background: #60cf6e;
    left: 105px;
    top: 105px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info4 {
    left: 60px;
    top: 150px;
    width: 88px;
    height: 88px;
    background: url(../images/square.jpg);
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .f3-top .f3-center .f3-info5 {
    background: #33bb9a;
    left: 150px;
    top: 150px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .title {
    width: 340px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .title h3 {
    width: 40px;
    height: 100px;
    background-size: 40px;
    transform-style: preserve-3d;
    -webkit-animation: xuanzhuan 1.5s infinite;
    -moz-animation: xuanzhuan 1.5s infinite;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .title .text {
    margin-left: 50px;
    margin-top: 6px;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .title .text h4 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 28px;
    margin-bottom: 4px;
    color: #fff;
    text-align: left;
  }
  .swiper-wrapper .three .f2-box .f2-center .text-area .title .text p {
    font-size: 12px;
    line-height: 22px;
    opacity: .8;
    letter-spacing: 1px;
    text-align: left;
  }
  .swiper-wrapper .three .f2-box .f2-center .obj-brain {
    width: 100%;
    background: url(../images/allside.png) no-repeat center top;
    position: absolute;
    top: -80px;
    background-size: 300px;
  }
  .swiper-wrapper .three .f2-box .f2-bottom {
    background: url(../images/bg-3-head.png) no-repeat center center;
    /*.f2-info{
          width:100%;
          !*.jiantou{
            position: absolute;
            left:50%;
            top:50%;
          }*!
        }*/
  }
}
/*第四层*/
.swiper-wrapper .four {
  background: url(../images/bg4.jpg) repeat center top;
  height: 642px;
  position: relative;
}
.swiper-wrapper .four .f2-box .f2-center .text-area .obj-bg {
  position: absolute;
  left: -15px;
  top: -56px;
  width: 275px;
  height: 246px;
  background: url(../images/bubble.png) no-repeat;
}
.swiper-wrapper .four .f2-box .f2-center .text-area .title h3 {
  background: url(../images/zhuanye.png) no-repeat;
}
.swiper-wrapper .four .f2-box .f2-center .obj-brain {
  background: url(../images/stat.png) no-repeat;
}
.swiper-wrapper .four .f2-box .f4-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.swiper-wrapper .four .f2-box .f4-bottom .f4-info {
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 80px;
}
.swiper-wrapper .four .f2-box .f4-bottom .f4-info a {
  color: #fff;
}
.swiper-wrapper .four .f2-box .f4-bottom .f4-info a:hover {
  text-decoration: underline!important;
}
@media screen and (max-width: 768px) {
  .swiper-wrapper .four .f2-box .f2-center .text-area .obj-bg {
    width: 170px;
    background-size: 160px;
    top: -12px;
  }
  .swiper-wrapper .four .f2-box .f2-center {
    width: 100%;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area {
    position: absolute;
    top: -164px;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area .title {
    width: 340px;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area .title h3 {
    width: 40px;
    height: 100px;
    background-size: 40px;
    transform-style: preserve-3d;
    -webkit-animation: xuanzhuan 1.5s infinite;
    -moz-animation: xuanzhuan 1.5s infinite;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area .title .text {
    margin-left: 50px;
    margin-top: 6px;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area .title .text h4 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 28px;
    margin-bottom: 4px;
    color: #fff;
    text-align: left;
  }
  .swiper-wrapper .four .f2-box .f2-center .text-area .title .text p {
    font-size: 12px;
    line-height: 22px;
    opacity: .8;
    letter-spacing: 1px;
    text-align: left;
  }
  .swiper-wrapper .four .f2-box .f2-center .obj-brain {
    width: 100%;
    background: url(../images/stat.png) no-repeat center top;
    position: absolute;
    top: -80px;
    background-size: 300px;
  }
  .swiper-wrapper .four .f2-box .f4-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .swiper-wrapper .four .f2-box .f4-bottom .f4-info {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 80px;
  }
}
